# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [189]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [190]:
### i = 'integer'
list_consec = [i for i in range(51) if i > 0]
print(list_consec)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [191]:
list_even = [i for i in range(201) if i % 2 == 0 and i > 0]
print(list_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [192]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [193]:
numpy_a_lst = [y for x in a for y in x]
print("The following corresponds to the new list containing all elements of the 10X4 numpy array:", numpy_a_lst)
print() ### para agregar espacio
print('The number of elements in numpy_a_lst is:',len(numpy_a_lst)) ### para afirmar que si esten todos los elementos

The following corresponds to the new list containing all elements of the 10X4 numpy array: [0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

The number of elements in numpy_a_lst is: 40

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [194]:
numpy_a_lst = [y for x in a for y in x if y >= 0.5]
print("The following corresponds to the new list containing only the elements greater than or equal to 0.5:", numpy_a_lst)
print() ### para agregar espacio
print('The number of elements in numpy_a_lst is:',len(numpy_a_lst)) ### para afirmar que si esten todos los elementos

The following corresponds to the new list containing only the elements greater than or equal to 0.5: [0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

The number of elements in numpy_a_lst is: 19

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [195]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [196]:
numpy_lstb = [z for x in b for y in x for z in y]
print("The following corresponds to the new list containing all elements of the 5 X 2 X 3 numpy array:", numpy_lstb)
print() ### para agregar espacio
print('The number of elements in numpy_lstb is:',len(numpy_lstb)) ### para afirmar que si esten todos los elementos

The following corresponds to the new list containing all elements of the 5 X 2 X 3 numpy array: [0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

The number of elements in numpy_lstb is: 30

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [197]:
numpy_lstb = [y[-1] for x in b for y in x if y[-1] <= 0.5] 
### manera mas sintetica que encontre, ademas que hice varios intentos ...
### contemplando z que no sirvieron
print("The following corresponds to the new list containing the last values (<=) of all subarrays", numpy_lstb)
print() ### para agregar espacio
print('The number of elements in numpy_lstb is:',len(numpy_lstb)) ### para afirmar que si esten todos los elementos

The following corresponds to the new list containing the last values (<=) of all subarrays [0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688]

The number of elements in numpy_lstb is: 8

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [198]:
all_csvfiles = [file for file in os.listdir('../data') if file.endswith('.csv')]
print("The CSV files found in the /data directory are:", all_csvfiles)
print()
print('The number of files in the /data directory is ...' , len(all_csvfiles))

The CSV files found in the /data directory are: ['sample_file_0.csv', 'sample_file_1.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_6.csv', 'sample_file_7.csv', 'sample_file_8.csv', 'sample_file_9.csv']

The number of files in the /data directory is ... 10

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [199]:
data_sets = [pd.read_csv(os.path.join('../data', file)) for file in all_csvfiles]
pd.set_option('display.max_rows', 10) ### cambiar el ultimo parametro para determinar cuantos datos mostrar
data = pd.concat(data_sets, axis=0)
dataframe = pd.DataFrame(data)
print(dataframe)

           0         1         2         3         4         5         6  \
0   0.734751  0.195362  0.734309  0.598184  0.763433  0.263434  0.868066
1   0.772607  0.445391  0.249642  0.787922  0.598583  0.827238  0.624126
2   0.226428  0.268764  0.694262  0.622335  0.063843  0.122683  0.815625
3   0.362748  0.495430  0.113876  0.594149  0.612522  0.625204  0.864050
4   0.033415  0.340433  0.464971  0.363737  0.025815  0.434129  0.415163
..       ...       ...       ...       ...       ...       ...       ...
0   0.215190  0.155352  0.160848  0.807736  0.363587  0.899832  0.146754
1   0.895544  0.955196  0.089925  0.827555  0.089071  0.642883  0.996052
2   0.413752  0.693052  0.789796  0.929164  0.536191  0.439769  0.773474
3   0.728001  0.348156  0.935787  0.851163  0.444573  0.715080  0.988408
4   0.134942  0.875931  0.273505  0.207588  0.080696  0.717396  0.033930

           7         8         9        10        11        12        13  \
0   0.058092  0.753502  0.587513  0.311608  0.178356  0.182922  0.147631
1   0.601524  0.688753  0.338870  0.081595  0.471474  0.267443  0.453351
2   0.584542  0.032594  0.589775  0.764350  0.650973  0.565705  0.691784
3   0.260279  0.528873  0.168043  0.715929  0.677014  0.175735  0.632370
4   0.892210  0.381701  0.415264  0.790801  0.696930  0.819751  0.944029
..       ...       ...       ...       ...       ...       ...       ...
0   0.094802  0.705133  0.882762  0.773320  0.687745  0.016789  0.340725
1   0.879020  0.421837  0.412141  0.858513  0.217091  0.176157  0.551236
2   0.982074  0.876955  0.633154  0.279005  0.483317  0.908288  0.756172
3   0.210332  0.732133  0.892383  0.216893  0.367595  0.846208  0.240111
4   0.646837  0.888722  0.922742  0.176593  0.861333  0.389451  0.695244

          14        15        16        17        18        19
0   0.391188  0.816049  0.749068  0.293260  0.937828  0.880858
1   0.800716  0.045749  0.683793  0.389789  0.016787  0.503695
2   0.265223  0.739031  0.560394  0.334802  0.517694  0.646110
3   0.926715  0.085675  0.120525  0.141746  0.771144  0.489660
4   0.869965  0.041723  0.819140  0.676051  0.109349  0.872947
..       ...       ...       ...       ...       ...       ...
0   0.984182  0.985461  0.412044  0.867894  0.113432  0.349845
1   0.834378  0.419535  0.041431  0.602258  0.984628  0.516899
2   0.462130  0.289892  0.145233  0.076819  0.797836  0.197592
3   0.471880  0.399721  0.758196  0.665568  0.931542  0.448124
4   0.129955  0.364114  0.428224  0.365442  0.847818  0.588319

[50 rows x 20 columns]

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [200]:
columns_m048 = [col for col in dataframe if dataframe[col].mean() < 0.48]
print(columns_m048)

['1', '9', '12']

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [201]:
column20 = [col-0.1 for col in dataframe['19']]
dataframe['20'] = column20
### dataframe.insert(21, '20', [column20], True) Nota: Este codigo no me funciono porque al indicar el 21 marca que esta fuera del rango de columnas
### dataframe['20'] = column20 Nota: AL USAR ESTE CODIGO SE PIERDE LA COLUMNA 10
print('The new column to be inserted ...')
print()
print(column20)
print()
print('The new Data Frame incorporating a new column[20] ...')
print()
print(dataframe)

The new column to be inserted ...

[0.7808575048234396, 0.4036946763567658, 0.5461102531556267, 0.38966042105628884, 0.7729470926088846, 0.18654193230736058, 0.47223233572838474, 0.3895280127580215, 0.14659389210943793, 0.37902243982096695, 0.7033930409580709, 0.8648886658100324, 0.21307115468119922, 0.7730292489443629, 0.5684471908103285, 0.11393800975831006, 0.2109510376242036, 0.29645280825865283, -0.07304846766336773, 0.83114474390249, 0.4721502735317731, -0.03969429810549733, -0.051260024593984405, 0.4607424365564423, 0.07740141103623394, 0.8452500269680332, 0.015311302434247151, 0.48219207563645416, 0.428075197004673, 0.7274869207330491, 0.4518577076435921, 0.5862940558714582, 0.10369941693302806, 0.6393833032570582, 0.5670511570483483, 0.1953440747428242, 0.4772616664477156, -0.09740351498440561, 0.8260066079467686, 0.6928514808864792, 0.8686807909262536, 0.8661983776596004, 0.6244863338885654, 0.7376946446827494, 0.2989143990111991, 0.24984527038117002, 0.41689929524158953, 0.09759168080222888, 0.3481243789741467, 0.48831904408441984]

The new Data Frame incorporating a new column[20] ...

           0         1         2         3         4         5         6  \
0   0.734751  0.195362  0.734309  0.598184  0.763433  0.263434  0.868066
1   0.772607  0.445391  0.249642  0.787922  0.598583  0.827238  0.624126
2   0.226428  0.268764  0.694262  0.622335  0.063843  0.122683  0.815625
3   0.362748  0.495430  0.113876  0.594149  0.612522  0.625204  0.864050
4   0.033415  0.340433  0.464971  0.363737  0.025815  0.434129  0.415163
..       ...       ...       ...       ...       ...       ...       ...
0   0.215190  0.155352  0.160848  0.807736  0.363587  0.899832  0.146754
1   0.895544  0.955196  0.089925  0.827555  0.089071  0.642883  0.996052
2   0.413752  0.693052  0.789796  0.929164  0.536191  0.439769  0.773474
3   0.728001  0.348156  0.935787  0.851163  0.444573  0.715080  0.988408
4   0.134942  0.875931  0.273505  0.207588  0.080696  0.717396  0.033930

           7         8         9  ...        11        12        13        14  \
0   0.058092  0.753502  0.587513  ...  0.178356  0.182922  0.147631  0.391188
1   0.601524  0.688753  0.338870  ...  0.471474  0.267443  0.453351  0.800716
2   0.584542  0.032594  0.589775  ...  0.650973  0.565705  0.691784  0.265223
3   0.260279  0.528873  0.168043  ...  0.677014  0.175735  0.632370  0.926715
4   0.892210  0.381701  0.415264  ...  0.696930  0.819751  0.944029  0.869965
..       ...       ...       ...  ...       ...       ...       ...       ...
0   0.094802  0.705133  0.882762  ...  0.687745  0.016789  0.340725  0.984182
1   0.879020  0.421837  0.412141  ...  0.217091  0.176157  0.551236  0.834378
2   0.982074  0.876955  0.633154  ...  0.483317  0.908288  0.756172  0.462130
3   0.210332  0.732133  0.892383  ...  0.367595  0.846208  0.240111  0.471880
4   0.646837  0.888722  0.922742  ...  0.861333  0.389451  0.695244  0.129955

          15        16        17        18        19        20
0   0.816049  0.749068  0.293260  0.937828  0.880858  0.780858
1   0.045749  0.683793  0.389789  0.016787  0.503695  0.403695
2   0.739031  0.560394  0.334802  0.517694  0.646110  0.546110
3   0.085675  0.120525  0.141746  0.771144  0.489660  0.389660
4   0.041723  0.819140  0.676051  0.109349  0.872947  0.772947
..       ...       ...       ...       ...       ...       ...
0   0.985461  0.412044  0.867894  0.113432  0.349845  0.249845
1   0.419535  0.041431  0.602258  0.984628  0.516899  0.416899
2   0.289892  0.145233  0.076819  0.797836  0.197592  0.097592
3   0.399721  0.758196  0.665568  0.931542  0.448124  0.348124
4   0.364114  0.428224  0.365442  0.847818  0.588319  0.488319

[50 rows x 21 columns]

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [202]:
extract = [v for value in dataframe.values.tolist() for v in value if v > 0.7  and v < 0.75]
### Note: Value = a una columna en forma de lista, por lo tanto para referirnos a cada dato se debe anadir otro <for>
print('The following numbers refer to the values in the data set that are between 0.7 and 0.75 ...')
print()
print(extract)
print()
print('There are',len(extract), 'values that are between 0.7 and 0.75')

The following numbers refer to the values in the data set that are between 0.7 and 0.75 ...

[0.7347510852128797, 0.7343092314001137, 0.7490680818183477, 0.7390312927111312, 0.7159290265157912, 0.7356923324968598, 0.7357618655811269, 0.7306642125209889, 0.7033930409580709, 0.7013619954419494, 0.7396561066717461, 0.7045750112959754, 0.7383982036983279, 0.7178166705957928, 0.7088042362916818, 0.7374449181749492, 0.7264121114538001, 0.7133695725698419, 0.7476323136755818, 0.7268545088531969, 0.7111584953876777, 0.7008930873050235, 0.7209375615129192, 0.7303553716733908, 0.7274869207330491, 0.7025657075988269, 0.7298115760258881, 0.7294980584878026, 0.7215147068185102, 0.7130781095091867, 0.7393833032570581, 0.7258310816144985, 0.7358941798147411, 0.736029494090402, 0.7085098152301276, 0.7472962776291713, 0.7329024831531535, 0.7124169515124726, 0.71223975981198, 0.7365416322783028, 0.7133690799930356, 0.7078738356977186, 0.7032248108904495, 0.7196096371031628, 0.7244863338885654, 0.7321533684342264, 0.7376946446827494, 0.7132714209987683, 0.7023481768180954, 0.7051334608870933, 0.7280006345208285, 0.7150799992177622, 0.7321333453970806, 0.7173964318670598]

There are 54 values that are between 0.7 and 0.75