# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [2]:
lista = [i for i in range(1,51)]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [3]:
lista = [i for i in range(2,201) if i%2==0]
print(lista)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [4]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [5]:
lista = [numero for numeros in a for numero  in numeros]
print(lista)
# numero es cada decimal, numeros es cada una de las listas de decimales en a numero es cada numero en cada lista (numeros) en a

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [6]:
lista = [numero for numeros in a for numero  in numeros if numero >= 0.5]
print(lista)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [7]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [8]:
lista = [numero for lista_de_listas in b for lista_de_numeros in lista_de_listas for numero in lista_de_numeros]
print(lista)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [9]:
lista = [numero for lista_de_listas in b for lista_de_numeros in lista_de_listas for numero in lista_de_numeros if numero <=0.5]
print(lista)

[0.06210792, 0.08147297, 0.06833034, 0.05440634, 0.30296619, 0.06769833, 0.09143215, 0.45850679, 0.11434044, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.14901286, 0.23760688]

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [10]:
file_list = [f for f in os.listdir('../data') if f.endswith('.csv')]
print(file_list)

['sample_file_0.csv', 'sample_file_1.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_6.csv', 'sample_file_7.csv', 'sample_file_8.csv', 'sample_file_9.csv']

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [37]:
import glob
import pandas as pd
import re

os.chdir('../data')

df_list = (pd.read_csv(file) for file in file_list)

# Concatenate all DataFrames
big_df   = pd.concat(df_list, ignore_index=True)

#To display in a table format
display(big_df.loc[0:9])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,0.311608,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858
1,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,0.081595,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695
2,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,0.764350,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110
3,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,0.715929,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660
4,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,0.790801,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947
5,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,0.977025,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542
6,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,0.194616,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232
7,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,0.785776,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528
8,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,0.398504,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594
9,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,0.522344,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [42]:
lista = [i for i in range(0,20) if big_df[f'{i}'].median()<0.48]
print(lista)
for numero in lista:
    display(big_df.loc[0:49,f'{numero}'])

[2, 9, 12, 14, 17]

0     0.734309
1     0.249642
2     0.694262
3     0.113876
4     0.464971
5     0.942397
6     0.244274
7     0.392437
8     0.148175
9     0.365979
10    0.918270
11    0.916655
12    0.954057
13    0.475459
14    0.336707
15    0.500995
16    0.152394
17    0.179986
18    0.681403
19    0.029834
20    0.596603
21    0.708804
22    0.567476
23    0.121713
24    0.553956
25    0.183148
26    0.802663
27    0.120652
28    0.476889
29    0.055405
30    0.245083
31    0.467321
32    0.005691
33    0.833368
34    0.184239
35    0.735894
36    0.797730
37    0.892328
38    0.959355
39    0.736542
40    0.673568
41    0.850528
42    0.807189
43    0.407187
44    0.392800
45    0.160848
46    0.089925
47    0.789796
48    0.935787
49    0.273505
Name: 2, dtype: float64

0     0.587513
1     0.338870
2     0.589775
3     0.168043
4     0.415264
5     0.162984
6     0.580840
7     0.462513
8     0.763502
9     0.233944
10    0.591727
11    0.586035
12    0.867511
13    0.410444
14    0.194299
15    0.037230
16    0.543442
17    0.181267
18    0.513575
19    0.956949
20    0.717817
21    0.737445
22    0.418311
23    0.360098
24    0.197302
25    0.080025
26    0.156926
27    0.048815
28    0.349850
29    0.449771
30    0.783107
31    0.048724
32    0.847337
33    0.547769
34    0.212762
35    0.895810
36    0.674311
37    0.131970
38    0.105477
39    0.390542
40    0.111557
41    0.892183
42    0.184300
43    0.684265
44    0.634608
45    0.882762
46    0.412141
47    0.633154
48    0.892383
49    0.922742
Name: 9, dtype: float64

0     0.182922
1     0.267443
2     0.565705
3     0.175735
4     0.819751
5     0.593212
6     0.674085
7     0.032847
8     0.409665
9     0.208551
10    0.177649
11    0.915342
12    0.552062
13    0.856437
14    0.531840
15    0.153783
16    0.580359
17    0.070744
18    0.082292
19    0.454788
20    0.394465
21    0.073603
22    0.234886
23    0.847880
24    0.473574
25    0.543498
26    0.940414
27    0.090451
28    0.841210
29    0.158077
30    0.207432
31    0.721515
32    0.898464
33    0.931623
34    0.634487
35    0.617711
36    0.015081
37    0.034188
38    0.400774
39    0.366139
40    0.446974
41    0.429496
42    0.573440
43    0.756593
44    0.682941
45    0.016789
46    0.176157
47    0.908288
48    0.846208
49    0.389451
Name: 12, dtype: float64

0     0.391188
1     0.800716
2     0.265223
3     0.926715
4     0.869965
5     0.257645
6     0.785803
7     0.816563
8     0.133256
9     0.588567
10    0.202404
11    0.489504
12    0.739656
13    0.326310
14    0.084884
15    0.330318
16    0.931264
17    0.948127
18    0.088025
19    0.095214
20    0.084206
21    0.798467
22    0.421263
23    0.490628
24    0.413186
25    0.960030
26    0.933377
27    0.192501
28    0.101031
29    0.730355
30    0.349212
31    0.338366
32    0.443979
33    0.821099
34    0.394633
35    0.336094
36    0.132391
37    0.098536
38    0.844655
39    0.175482
40    0.713369
41    0.283769
42    0.032852
43    0.551369
44    0.450950
45    0.984182
46    0.834378
47    0.462130
48    0.471880
49    0.129955
Name: 14, dtype: float64

0     0.293260
1     0.389789
2     0.334802
3     0.141746
4     0.676051
5     0.069162
6     0.232135
7     0.430411
8     0.402791
9     0.229109
10    0.159040
11    0.358977
12    0.602166
13    0.361873
14    0.437889
15    0.033474
16    0.509798
17    0.074394
18    0.515933
19    0.513342
20    0.267455
21    0.631497
22    0.726412
23    0.567280
24    0.351496
25    0.660811
26    0.407580
27    0.858956
28    0.149982
29    0.078734
30    0.886644
31    0.773155
32    0.302786
33    0.183948
34    0.538712
35    0.856135
36    0.752866
37    0.655947
38    0.807400
39    0.904593
40    0.982256
41    0.688337
42    0.719610
43    0.792803
44    0.221165
45    0.867894
46    0.602258
47    0.076819
48    0.665568
49    0.365442
Name: 17, dtype: float64

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [47]:
display(big_df.loc[0:49,'19'])
big_df['20'] = big_df['19'] - 0.1
display(big_df.loc[0:49,'20'])

0     0.880858
1     0.503695
2     0.646110
3     0.489660
4     0.872947
5     0.286542
6     0.572232
7     0.489528
8     0.246594
9     0.479022
10    0.803393
11    0.964889
12    0.313071
13    0.873029
14    0.668447
15    0.213938
16    0.310951
17    0.396453
18    0.026952
19    0.931145
20    0.572150
21    0.060306
22    0.048740
23    0.560742
24    0.177401
25    0.945250
26    0.115311
27    0.582192
28    0.528075
29    0.827487
30    0.551858
31    0.686294
32    0.203699
33    0.739383
34    0.667051
35    0.295344
36    0.577262
37    0.002596
38    0.926007
39    0.792851
40    0.968681
41    0.966198
42    0.724486
43    0.837695
44    0.398914
45    0.349845
46    0.516899
47    0.197592
48    0.448124
49    0.588319
Name: 19, dtype: float64

0     0.780858
1     0.403695
2     0.546110
3     0.389660
4     0.772947
5     0.186542
6     0.472232
7     0.389528
8     0.146594
9     0.379022
10    0.703393
11    0.864889
12    0.213071
13    0.773029
14    0.568447
15    0.113938
16    0.210951
17    0.296453
18   -0.073048
19    0.831145
20    0.472150
21   -0.039694
22   -0.051260
23    0.460742
24    0.077401
25    0.845250
26    0.015311
27    0.482192
28    0.428075
29    0.727487
30    0.451858
31    0.586294
32    0.103699
33    0.639383
34    0.567051
35    0.195344
36    0.477262
37   -0.097404
38    0.826007
39    0.692851
40    0.868681
41    0.866198
42    0.624486
43    0.737695
44    0.298914
45    0.249845
46    0.416899
47    0.097592
48    0.348124
49    0.488319
Name: 20, dtype: float64

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [54]:
#por cada columna del fd y despues por cada numero de la columna
lista = [big_df.loc[numero,f'{columna}'] for columna in range(0,21) for numero in range (0,50) if 0.70<big_df.loc[numero,f'{columna}']<0.75]
print(lista)

[0.7347510852128797, 0.7025657075988269, 0.7132714209987683, 0.7280006345208285, 0.7258310816144985, 0.736029494090402, 0.7472962776291713, 0.7343092314001137, 0.7088042362916818, 0.7358941798147411, 0.7365416322783028, 0.7329024831531535, 0.7023481768180954, 0.7133695725698419, 0.7476323136755818, 0.7008930873050235, 0.7357618655811269, 0.7013619954419494, 0.726854508853197, 0.7032248108904495, 0.7150799992177622, 0.7173964318670598, 0.7306642125209889, 0.7383982036983279, 0.7124169515124726, 0.71223975981198, 0.7298115760258881, 0.7051334608870933, 0.7321333453970806, 0.7178166705957928, 0.737444918174949, 0.7159290265157912, 0.7294980584878026, 0.7215147068185102, 0.7045750112959754, 0.7111584953876777, 0.7209375615129192, 0.7396561066717461, 0.7303553716733908, 0.7133690799930356, 0.7390312927111312, 0.7356923324968598, 0.7078738356977186, 0.7321533684342264, 0.7490680818183477, 0.7130781095091867, 0.7085098152301276, 0.7264121114538001, 0.7196096371031628, 0.7393833032570581, 0.7244863338885654, 0.7033930409580709, 0.7274869207330491, 0.7376946446827494]